<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sim.muii.camarerocamarero">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NewOrderActivity"
            android:label="@string/title_activity_new_order"
            android:noHistory="true">

        </activity>
        <activity
            android:name=".activities.ViewOrderActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.MenuActivity"
            android:label="@string/title_activity_menu"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".activities.NewMenuItemActivity"
            android:label="@string/title_activity_new_item"
            android:noHistory="true">

        </activity>
        <activity
            android:name=".activities.SummaryActivity"
            android:label="@string/title_activity_summary"
            android:noHistory="true">

        </activity>
    </application>

</manifest>
